<link rel="stylesheet" href="login.css"/>

<div class="login" ng-controller="LoginCtrl as lc">
  <h1>The March Version of the Login Page</h1>
  <div ng-if="lc.success">
    OK, you're all done.
  </div>
  <form ng-submit="lc.submit(username, password)" ng-if="!lc.success">
   <p><label> Username: <input name="username" ng-model="username"/> </label></p>
   <p><label> Password: <input name="password" ng-model="password" type="password"/> </label></p>
   <p><button type="submit">Submit</button></p>
   <p class="result">{{lc.result}}</p>
  </form>
  <p class="error" ng-if="lc.failed">Hint, the username is "admin" and the password does not matter</p>
  <h3>Changes</h3>
  <ul>
    <li>Dismisses form on success
    <li>Some border
  </ul>
    
</div>